.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid #1DB954;
  background-color: #1A1A1A;
  padding: 0 20px 0 13px;

  &__logo {
    height: 70px;
  }

  &__user {
    display: flex;
    gap: 20px;

    &_avatar {
      height: 50px;
      border-radius: 16px;
    }

    &_logout {
      height: 50px;
      width: 50px;
      background-color: #383838;
      border: 0;
      border-radius: 16px;
      font-size: 20px;
      font-weight: 600;
      color: #8d4040;
    }
  }
}