* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.page {
  width: 100vw;
  height: 100vh;
  background-color: #1D1D1D;

  &__main {
    height: 100%;
    padding: 80px 0 95px;
    margin: 0 20px;
  }
}

.dashboard {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  padding: 20px 0;
}