* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.page {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;

  &__main {
    padding-top: 82px;
    // margin: 35px 30px 30px;
  }
}